.underconstruction{ font-size : 30px; }
.topbanner p{
	color: #ffffff;
}
.nav_menu li{
	color: #ffffff;
}
header::after{
	content: '';
	display: table;
	clear: both;
}
.topbanner{
	background-color: #454545;
	height: 200px;
}
.gInfo{
	float: left;
}
.nav_menu{
	float: right;
}

.nav_menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav_menu li{
	display: inline-block;
}
