.underconstruction{ font-size : 30px; }
.topbanner p{
	color: #ffffff;
}
header::after{
	content: '';
	display: table;
	clear: both;
}
.topbanner{
	background-color: #454545;
	height: 200px;
}
.gInfo{
	float: left;
}
.nav_menu{
	float: right;
}
