.underconstruction{ font-size : 30px; }
.topbanner p{
	color: #00f3ff;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.topbanner{
	background-color: #454545;
	height: 150px;
}

.gInfo{
	float: left;
}

.nav_menu{
	float: right;
}

.nav_menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav_menu li{
	display: inline-block;
	margin-left: 35px;
	margin-right: 35px;
	padding-top: 60px;
	
	position: relative;
}

.nav_menu li > a{
	color: #00f3ff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400px;
}

.nav_menu li > a:hover {
	color: #ffffff
}

.nav_menu li > a::before {
	content: '';
	display: block;
	height: 5px;
	width: 100%;
	background-color: #00f3ff; 
}
